.matched {
  color: rgba(211, 211, 211, 0.351);
  background-color: rgba(211, 211, 211, 0.179);
}

.reset {
background-color: rgba(211, 211, 211, 0.553);
color: black;
}
.choose {
  list-style: none;
  margin-bottom: 1rem;
  padding: 0;
  display: grid;
  gap: 1rem 2.8rem;
  grid-template-columns: repeat(6, 1fr);
  align-content: center;
  justify-items: center;
  font-weight: bold;
}

li {
  width: 100%;
  background-color: rgba(211, 211, 211, 0.553);
  box-shadow: 1px 1px 10px 1px rgba(238, 155, 91, 0.503);
  padding: 1rem;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s;
}

.choose li:hover {
  transform: translateY(-2px);
}


@media (max-width: 600px){
.choose {
    column-gap: 1rem;
    row-gap: 0.1rem;
}

li {
    width: 50%;
}
}

@media (max-width: 300px){
  .choose {
    column-gap: 0.1rem;
    row-gap: 0.1rem;
}

li {
    width: 25%;
}
}
