@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;700&family=Epilogue:wght@500;700&display=swap");

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 100vh;
}

body {
  height: 100vh;
  background: url("./assets/img/fireplace-gif-1.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgb(132, 134, 134);
  position: relative;
  font-family: DynaPuff;
}
